{% extends 'base.html' %}
{% load static %}
{% block content %}


  {% if user.is_active %}
    <div class="container-xxl">
      <div class="row">
        <div class="col">
          <div class="alert alert-light" role="alert">
            <p style="font-size:1.7vw; color:black; font-weight:bold;">반갑습니다, {{user}}님</p>
            <p style="font-size:1.0vw; color:black;">나중에 요약 기능 추가</p> <!--왼쪽에 그래프 추가, 숫자 자동 계산 -->
          </div>
          <div class="alert alert-light" role="alert">
            <a href=""><img src="{% static 'images/idiom.jpg' %}" class="card-img-top"/></a>
            <p style="font-size:1vw; color:black;">1000+ 숙어 완전 정복!</p>
            <a href="" class="btn" style="font-size: 1.3vw; font-weight:bold;">Go!</a>
          </div>
        </div>
        <div class="col">
          <div class="alert alert-light" role="alert">
            <a href="http://127.0.0.1:8000/reviewer"><img src="{% static 'images/reviewer2.jpg' %}" class="card-img-top"/></a>
            <a href="http://127.0.0.1:8000/reviewer" class="btn" style="font-size: 1.3vw; font-weight:bold;">Go!</a>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container-xxl">
      <div class="row">
        <div class="col">
          <div class="alert alert-light" role="alert">
            <p style="font-size:1.5vw; color:black; font-weight:bold;">Hello!</p>
            <a href="http://127.0.0.1:8000/accounts/login" style="font-size:1vw; color:black;">로그인하여 진행 정보, 전체 순위 등을 확인할 수 있습니다.</a>
          </div>
          <div class="alert alert-light" role="alert">
            <a href=""><img src="{% static 'images/idiom.jpg' %}" class="card-img-top"/></a>
            <p style="font-size:1vw; color:black;">1000+ 숙어 완전 정복!</p>
            <a href="" class="btn" style="font-size: 1.3vw; font-weight:bold;">Go!</a>
          </div>
        </div>
        <div class="col">
          <div class="alert alert-light" role="alert">
            <a href="http://127.0.0.1:8000/accounts/login"><img src="{% static 'images/reviewer2.jpg' %}" class="card-img-top"/></a>
            <p style="font-size:1.5vw; color:black; font-weight:bold;">Learn And Review! 단어 암기 플랜</p>
            <a href="http://127.0.0.1:8000/accounts/login" class="btn" style="font-size:1vw; color:black;">로그인하여 암기 플랜 사용하기</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

    <div class="container-xxl">
      <div class="row row-cols-2 row-cols-lg-3 g-5 g-lg-5">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <a href="http://127.0.0.1:8000/board/alphabet/page1"><img src="{% static 'images/alphabet.jpg' %}" class="card-img-top"/></a>
              <h7 class="card-subtitle mb-2 text-muted" style="font-size: 1.0vw; color:black;">VOCABISM의 8000 + 영단어를<br> 알파벳순으로 학습하세요.</h7>
              <a href="http://127.0.0.1:8000/board/alphabet/page1" class="btn" style="font-size: 1.3vw; font-weight:bold;">Go!</a>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <a href="http://127.0.0.1:8000/board/elementary/page1"><img src="{%static 'images/elementary.jpg' %}" class="card-img-top"></a>
              <h7 class="card-subtitle mb-2 text-muted" style="font-size: 1.0vw; color:black;">기초가 가장 중요한 법! <br>필수 기초 영단어를 학습하세요.</h7>
              <a href="http://127.0.0.1:8000/board/elementary/page1" class="btn" style="font-size: 1.3vw; font-weight:bold;">Go!</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <a href="http://127.0.0.1:8000/board/confusing_voca/page1"><img src="{%static 'images/confusin.JPG' %}" class="card-img-top"></a>
              <h7 class="card-subtitle mb-2 text-muted" style="font-size: 1.0vw; color:black;">혼동하기 쉬운 어휘 <br> 총정리!</h7>
              <a href="http://127.0.0.1:8000/board/confusing_voca/page1" class="btn" style="font-size: 1.3vw; font-weight:bold;">Go!</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <a href="http://127.0.0.1:8000/board/K_SAT/page1"><img src="{%static 'images/K_SAT.JPG' %}" class="card-img-top"></a>
              <h7 class="card-subtitle mb-2 text-muted" style="font-size: 1.0vw; color:black;">수능, 토익 완전 정복!<br>수능, 토익 빈출 영단어를 학습하세요.</h7>
              <a href="http://127.0.0.1:8000/board/K_SAT/page1" class="btn" style="font-size: 1.3vw; font-weight:bold;">Go!</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <a href="http://127.0.0.1:8000/board/GRE/page1"><img src="{%static 'images/GRE.JPG' %}" class="card-img-top"></a>
                <h7 class="card-subtitle mb-2 text-muted" style="font-size: 1.0vw; color:black;">GRE, 편입, TOFEL 등<br> 난이도가 높은 영단어를 학습하세요.</h7>
              <a href="http://127.0.0.1:8000/board/GRE/page1" class="btn" style="font-size: 1.3vw; font-weight:bold;">Go!</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <a href="{% url 'board:compound' param=1 %}"><img src="{%static 'images/compound.JPG' %}" class="card-img-top"></a>
              <h7 class="card-subtitle mb-2 text-muted" style="font-size: 1.0vw; color:black;">알아두면 도움 되는!<br>합성어 모음</h7>
              <a href="{% url 'board:compound' param=1 %}" class="btn" style="font-size: 1.3vw; font-weight:bold;">Go!</a>
            </div>
          </div>
        </div>
      </div>
    </div>




{% endblock %}
