{% extends 'base.html' %}

{% block content %}

     {% csrf_token %}

        {% for i in practice_len %}

    <div class="list-group">
      <a href="http://127.0.0.1:8000/board/practice/{{i}}/" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{i}}</h5>
        </div>
        <p class="mb-1">practice {{i}}</p>
        <small>(10단어)</small>
      </a>
    </div>
        {% endfor %}

{% endblock %}