{% extends 'base.html' %}

{% block content %}

     {% csrf_token %}

        {% for i in voca_data %}

        <div class="container-lg">
          <div class="alert alert-light" role="alert" style ="margin-top:3%;">  
            <div class="row">
              <div class = "col-6" style="color : #5ABEFA; font-size : 4rem; text-align:center; margin-top:1%;">{{i.0}}</div>
              <div class = "col-4" style="color : #5ABEFA; font-size : 2rem; text-align:center; margin-top:1%;">{{i.1}}</div>
            </div>
            <div class="row">
              <div class="col-6" style="font-size : 2rem; text-align:center; margin-top:1%;">{{i.2}}</div>
              <div class="col-2" style="font-size : 2rem; text-align:center; margin-top:1%;">중요도 : {{i.3}}</div>
              <div class="col-2" style="font-size : 2rem; text-align:center; margin-top:1%;">난이도 : {{i.4}}</div>
            </div>
          </div>
      </div>

        {% endfor %}

      <div class="wrapper" style="text-align: center; background-color:white; margin:5% 35% 5% 35%; border-radius:10px;">             
          <a href="http://127.0.0.1:8000/board/alphabet/{{next_page}}/">다음 10 단어</a>
      </div>


{% endblock %}
