<article> <!-- card.html -->
    <details>
        <summary style="font-size:3rem;">{{ card.question}}<div style="font-size:1rem;">{{card.addition4}}</div></summary>
        <br>
        <div style="font-size: 1.6rem; color : #5ABEFA;">{{ card.answer|linebreaks }}</div>
        <br>
        <div style="font-size: 1.3rem;">{{ card.addition3}}</div>
    </details>
    <br>
    {% include "reviewer_check_form.html" with knowing_level=1 %}
    {% include "reviewer_check_form.html" with knowing_level=2 %}
    {% include "reviewer_check_form.html" with knowing_level=3 %}
    {% include "reviewer_check_form.html" with knowing_level=4 %}
    <br>
    <hr>
 </article>
