{% extends 'base.html' %}
{% load humanize %}
{% load card_tags %}

{% block content %}

    <h2>
        {{ review_settings.plan_name }}
    </h2>
    <br>
    <!-- <h4>{% include "reviewer_navigation.html" %}</h4> -->
    <div style="width:가로; height:세로; overflow:hiddlen; white-space:nowrap;">
        {% for i in review_date %}
            <a href="{% url 'reviewer:box' review_date=i %}">{{i}}</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        {% endfor %}
        </div>
    <br><br>
    <h2> {{ box_name }}  </h2>
    <br>
    <p><strong><u>{{ box_count }}</u></strong>&nbsp&nbspvocabulary left in this box.</p>
    <br>
    <hr>

    {% for card in card_list %}
    {% include "reviewer_plan_detail2.html" %}
    {% endfor %}


{% endblock content %}
